*{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100vh;            
    margin: 0;           
}

.container {
    width: 550px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fan{   
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-bottom: 276px;
}

.round{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #fef1af;
    border-top: 5px solid #afe4e1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 1;
}

.inner-round{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #E7E8D1;
    border-top: 5px solid  #B85042;
    border-bottom: 5px solid #A7BEAE ;
}

.shape{
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 40px solid darkmagenta;
    position: absolute;
    
}

.pankha1{
    margin-top: 18px;
}

.pankha2{
    margin-top: 30px;
    transform: rotate(35deg);
    margin-left: 72px;
}

.pankha3{
    margin-top: 61px;
    transform: rotate(71deg);
    margin-left: 119px;
}

.pankha4{
    margin-top: 99px;
    transform: rotate(110deg);
    margin-left: 118px
}

.pankha5{
    margin-top: 129px;
    transform: rotate(145deg);
    margin-left: 77px
}

.pankha6{
    margin-top: 30px;
    transform: rotate(323deg);
    margin-right: 72px;
}

.pankha7{
    margin-top: 60px;
    transform: rotate(292deg);
    margin-right: 115px;
}

.pankha8{
    margin-top: 101px;
    transform: rotate(250deg);
    margin-right: 116px;
}

.pankha9{
    margin-top: 130px;
    transform: rotate(216deg);
    margin-right: 70px;
}

.pankha10{
    margin-top: 141px;
    transform: rotate(180deg);
    margin-right: 0px;
}


#outer-round{
    border: 5px solid #fef1af;
    border-top: 5px solid #afe4ef;
    width:80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-round{
    border: 5px solid #E7E8D1;
    border-top: 5px solid #B85042;
    border-bottom: 5px solid #A7BEAE;
    width:60px;
    height: 60px;
    border-radius: 50%;
}

#stick{
    height: 220px;
    width: 5px;
    /* border: 1px solid black; */
    border-top: 0px;
    background-color: #C5001A;
}

.switch{
    width: 300px;
    height: 60px;
    border: 2px solid  #002C54;
    margin: -8% 39%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FDF6F6;
    
}

button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #C5001A;
    background-color: #C5001A;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.on-off{
    width: 80px;
    height: 45px;
}

.animation{
    animation-name: fan;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fan {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}